/* * {direction:ltr}; */

body {
	font-family: Verdana, arial, sans-serif; 
	color: #000;
	background-color: #eee;
	font-size: 80%;
	margin: 0px;
	/*line-height: 1.3em;*/
}

form {
	margin:0;
	padding:0;
}
h1 {
	font-weight: bold;
	font-size: 1.2em;
	margin-bottom: 0; 
}
a {
	color: #000;
	text-decoration: none;
}

a:active {
	position: relative;
	top: 1px;
}

p {
	margin-top: 0px;	
}

img {
	border: none;
}
ul {
	list-style-type: none;
	padding: 10px 10px 5px 10px;
	margin: 0px;
}

th, td
{
	//table-layout:fixed;
	//border: 1px solid black;
	border-collapse:collapse;
}


fieldset { padding:0; border: 0px #ccc solid; margin-top:10px; }
//input.text, textarea, select#approver_search { margin-bottom:10px; padding: .4em; }
input.text, textarea, select { margin-bottom:10px; padding: .4em; }
//select#area_search { margin-bottom:10px; padding: .4em; }


fieldset.checkers {
  //-webkit-box-sizing: border-box;
  //-moz-box-sizing: border-box;
  //box-sizing: border-box;
	padding: 10px;
	border: 1px #ccc solid;
	border-radius: 4px;
}


 
//.ui-autocomplete {z-index:1000}
.ui-autocomplete {
	z-index:1000;
	max-height: 200px;
	overflow-y: auto;
	/* prevent horizontal scrollbar */
	overflow-x: hidden;
}

#divGrid { 
	margin-left:4px;
	display:none;
	font-size:0.8em;	
}

#myjqGrid {
	padding: 20px 10px 0 10px;
	//width: 682px;
}

.ui-jqgrid tr.jqgrow td {
	font-size:1.1em
}

//#newForm  { z-index: 80; }
#newForm table { width: 540px }
#newForm { padding: 20px}
//#newForm label:after { content: ": " }
#newForm label { display: block; }

#file_number, #file_number_checkup, #checkup_number {width:240px;}
#area {width:220px;}
#block {width:70px;}
#plot {width:70px;}
#address {width:280px;}
// input#building {width:70px;}
// input#paci_number {width:20%}
textarea#title {width: 500px;}

#date_checkup, #date_submission, #check_1_dt, #check_2_dt, #check_3_dt {width:90px;}

//#checkupForm  form{ width: 740px }
#checkupForm table { width: 560px }

.hiddenElement {display: none}

#validateTips { border: 1px solid transparent; padding: 0.3em; font-size: 1.2em}
.ui-state-error { padding: .3em; }

.ui-tooltip-for-item{ min-width: 700px; }
.ui-tooltip-for-button{ }

/* used for jQuery dialogs */
.no-close .ui-dialog-titlebar-close {
  display: none;
}
		

a:hover {
	text-decoration: underline;
}

.clear {
	height: auto !important;
	clear: both;
}

.wrapper {
	width: 960px;
	height: 100%;
	margin: auto;
	padding-top: 10px;
}
.pagePadding {
	padding: 0px 20px;	
}

.customHead {
	background-color: #555;
	background-image: url(../images/header_bg2.png);
	background-repeat:repeat-x;
	background-position:0px 0px;
	height: 92px;
}
.customHead a {
	color: white;	
}
.customHead a:hover {
	/*text-decoration: none;*/
}

.customBody {
	background-image: url(../images/bg.png);
	background-repeat:no-repeat;
	height: 550px;
	min-height: 550px;
	border-color:#bbbbbb;
	border-style:solid;
	border-width:0 1px;	
	font-size: 110%;
	padding: 10px;
}

.floatLeft {
//	position:relative;
	float:left;
}

.floatRight {
//	position:relative;
	float:right;
}

.customLogo {
	float: inherit;
	//position:relative;
}
.customLogo2 {
	float: inherit;
	background-image: url("../images/logo2.png");
	background-repeat: no-repeat;
	height: 92px;
	width: 92px;
	margin-left: 120px;
}
/*
.customPhone {
	background-image:url(../images/phone.png);
	background-repeat:no-repeat;
	float:right;
	height:27px;
	position:relative;
	top:20px;
	width:227px;
}
*/
/* ------------------------------------------------- */
//.customHeaderRight {
//	float: right;
//}

.customLogin {
	margin-top: 8px;
	font-size:130%;
//	position:relative;
	float:inherit;
//	top:8px;
}

#customFlagKuwait, #customFlagUK {
	margin: 10px;
//	position:relative;
	float:inherit;
//	top:10px;
}
/* ------------------------------------------------- */

.customSearch {
	//float:left;
	//position:relative;
	margin-top:20px;
}

.customSearchBox {
	float: inherit;
	background-image: url(../images/searchbox.gif);
	background-repeat: no-repeat;
	height: 20px;
	width: 180px;
}
.customSearch input {
	background-color:transparent;
	border:0 none;
	font-size:93%;
	padding:4px 0 0 4px;
	width:95%;
}
.customSearchGo {
	float: inherit;
	background-image: url(../images/seach_go.gif);
	background-repeat: no-repeat;
	height: 20px;
	width: 62px;
}
/*
.customBody {
	height: 550px;
	min-height: 550px;
	border-color:#bbbbbb;
	border-style:solid;
	border-width:0 1px;	
}
*/
.rightSection {
/*	
	-moz-box-shadow: 4px 4px rgba(0,0,0,0.7);
	-webkit-box-shadow: 4px 4px rgba(0,0,0,0.7);
	-msbox-shadow: 4px 4px rgba(0,0,0,0.7);
*/
	box-shadow: 4px 4px 2px #999;
	border: 1px solid #000;
	padding: 0 6px;
	font-size:0.8em;
	
	//float:left;
	text-align:right;
	width: 200px;
	height: 100%;
	position: relative
}


#accordion {
	display: none;
	margin-top:6px;
}

#accordion>span {
	text-align: right;
}

//#accordion>div>div {
//	margin-top:16px;
//}

//#accordion>span:first-child {
//	text-align:center;
	//font-size:1.4em;
//}

//#accordion>div:last-child {
//	text-align:center;
//	margin-top:16px;
//}

//.rightSection ul#ul-status a{
	//margin-top:20px;
//	line-height:200%;
//}

.leftSection {
	box-shadow: 4px 4px 2px #999;
	border: 1px solid #000;
	font-size:1em;

	width: 714px;
	height: 100%;
	position: relative;
}

#tabs { height: 98%; border-color: transparent; display:none}

.tabs-bottom .ui-tabs-nav { clear: left; padding: 0 .2em .2em .2em; position:absolute; width: 98%; bottom: 0px; line-height: 0.8;}
.tabs-bottom .ui-tabs-nav li { top: auto; bottom: 0; margin: 0 .2em 1px 0; border-bottom: auto; border-top: 0; }
.tabs-bottom .ui-tabs-nav li.ui-tabs-active { margin-top: -1px; padding-top: 1px; }
.ui-tabs .ui-tabs-panel { padding: 0; height: 90%; }  
  
#custom_jsTree {
	//border: 1px solid #000;
	float:left;
	margin:20px 0px 20px 20px;
	//margin:20px;
	width: 300px;
	//display: none;
}

#userList {
	box-shadow: 4px 4px 2px #999;
	border: 1px solid #000;

	float:left;
	overflow: auto;
	margin:20px 0 20px 40px;

	//text-align:center;
	width: 300px;
	height: 382px;
	//display: none;
}

#userList ul {
	padding: 0 10px 5px 10px;
	//z-index: -1000 !important;
}
#userList li {
	//background-color:transparent !important;
	white-space:nowrap;
	margin: 0px 3px 3px 3px; 
	padding: 3px;
	cursor: auto;
	//padding-left: 1.5em; 
	//font-size: 1.4em; 
	//height: 18px; 
}

#addUserButton {
	height: 22px;
	width: 100px;
	margin-bottom: 4px;
}

#addUserButton>span {
	padding: 1px 10px;
	//padding-bottom: 1px;
}

/*
#userList li:hover {
	cursor: move;
}
*/
/*
.hiddenTemplate
{
    display: none;
}
*/

#tabs>ul {
 font-size: 0.9em;
}
 
#tabs>div>ul {
/* #docs, #inProcessDocs, #checkupDocs, #rejectedDocs  { */
	height: 100%;
	//width: 95%;
	overflow: auto;
}

#tabs>div>ul>li {
/* #docs li, #inProcessDocs li, #checkupDocs li, #rejectedDocs li { */
	background-color: #eee;
	box-shadow: 2px 2px 2px #999;
	border: 1px solid #000;
	border-radius: 4px;
	//float:inherit;
	width: 100%;
	//width: 730px;
	margin-bottom: 10px;
}

#rejectedDocs>li {
	box-shadow: 2px 2px 2px red !important;
}

#checkupDocs>li {
	box-shadow: 2px 2px 2px green !important;
}

.goldBorder {
	box-shadow: 2px 2px 2px gold !important;
}

.blueBorder {
	box-shadow: 2px 2px 2px blue !important;
}

.greenBorder {
	box-shadow: 2px 2px 2px green !important;
}

.docFileNumber{
	margin-top: 1px;
	width: 200px;
	//display: inline;
}

.docFileNumber>span{
	color: blue;
}

.docPACINumber{
	//margin: 0 20px 0 0;
	width: 160px;
	//display: inline;
}

.docDetailDiv
{
	position:relative;
	padding: 4px 10px;
    //text-align:left;
	//overflow: auto;
	height: 50px;
//	background-color: #eee;
}

.docDetailDiv>div {
	height: 25px;
}

.docDetailDiv select{
	//font-family: calibri, arial, sans-serif; 
	//font-size: 100%;
	background-color: #eee;
	border: 0px;
	padding:0px;
	margin-bottom:0px;
	//margin: 0 0 0 20px;
}

.docAddress {
	//position:absolute;
	word-wrap:break-word;
	overflow: auto;
	//overflow:-moz-scrollbars-vertical;
	width: 500px;
	//height: 50px !important;
	//border: 1px solid #000;
}

//.docPACINumber {
//	position:absolute;
//	margin-right:0px;
//	bottom: 0px;
//}

//.docAddress>span {
//	word-wrap:break-word;
//	overflow: inherit;
//	height: 100%;
//}

.docButtons {
	display:none;
	margin: 0 5px;
	box-shadow : 2px 2px 2px #999;
	border: 1px solid #999;
	border-radius: 4px;
	position:relative;
}
/*
.tagButton {
	position:absolute;
	//bottom: 0px;
	right: 4px;
}
*/

.tagButton {
	display:none;
	margin: 0 5px;
	box-shadow : 2px 2px 2px #999;
	border: 1px solid #999;
	border-radius: 4px;
	//position:absolute;	// works in IE, but not in FF, Chrome; for FF, Chrome set .css("position", "absolute");
	//right: 2px;
	//left: 2px;
	//top: 2px;
	//bottom: 10px;
}

//.clip   { position: absolute; top: 0; left: 0; }
//.pos-1  { clip:rect(0 24px 48px 0); top: -24px; }
//.pos-2  { clip:rect(48px 24px 72px 0); top: -48px; }
//.pos-3  { clip:rect(48px 24px 96px 0); top: -72px; }

a.docPrintAnchor:link, a.docCommentAnchor:link {
	text-decoration:underline;
	color:#0000ff;
}

.docCommentAnchor {
	margin:0 10px;
}

.approveButton {
	display: block;
	height: 24px;
	width: 24px;
	//background:url(../images/approve24.gif) 0 0;
	//background:url(../images/sprite.png);
	background:url(../images/sprite.png) 0 0;
}

.editButton {
	display: block;
	//margin-right:-7px;
	height: 24px;
	width: 24px;
	//background:url(../images/edit24.gif) 0 0;
	background:url(../images/sprite.png) 0 -24px;
}

.rejectButton {
	display: block;
	//margin-right:-7px;
	height: 24px;
	width: 24px;
	//background:url(../images/reject24.gif) 0 0;
	background:url(../images/sprite.png) 0 -72px;
	//background-image:url(../images/sprite.png);
	//background-position:0px -102px;
	//background-repeat:no-repeat;
	//position: absolute;
}

.forwardButton {
	display: block;
	height: 24px;
	width: 24px;
	background:url(../images/forward.png);
}

.forwardbackButton {
	display: block;
	height: 24px;
	width: 24px;
	background:url(../images/forward-back.png);
}

#newButtonTab {
	height: 24px;
	width: 24px;
	display: inline-block;
	position:absolute;
	top: 2px;
	left: 2px;
	
	//background:url(../images/edit24.gif) 0 0;
	background:url(../images/sprite.png) 0 -48px;
	//position:absolute;
	//bottom: 6px;
	//right: 1px;
}

.ca { /* comment approved */
	color:#33cc33;
}


.cr { /* comment rejected */
	color:#f00;
}

/*
background: url('result.png');
<br /><br /><div style="background-position: -0px -0px; width: 24px; height: 24px">&nbsp;</div>
<br /><br /><div style="background-position: -0px -34px; width: 24px; height: 24px">&nbsp;</div>
<br /><br /><div style="background-position: -0px -68px; width: 24px; height: 24px">&nbsp;</div>
<br /><br /><div style="background-position: -0px -102px; width: 24px; height: 24px">&nbsp;</div>
*/
.footer {
	color:#eee;
	font-size:130%;
	padding-top:15px;
	
	background-color: #555;
	background-image: url(../images/header_bg2.png);
	background-repeat:repeat-x;
	background-position:0px 0px;
	height: 120px;
	
}
.footer a {
	color: #eee;	
}
.footerLeft {
	//float: left;	
	padding-top:10px;
}
.footerRight {
	//float: right;
	padding-right:10px;
}
.customLinkGroup {
	float:inherit;
	margin-left:20px;
	padding-top:8px;
	width:auto;
}
.footerDiv {
	background-image:url(../images/footer_div.png);
	background-repeat:no-repeat;
	display:block;
	float:inherit;
	height:61px;
	margin-top:8px;
	margin-left:20px;
	width:2px;
}

.gridAltRows {
	background: #eee;
}

/*
.jstree-focused.jstree-default
 {
	background-color:transparent !important;
 }
 */
/*
.customBody h1 {
	font-size:175%;
	font-weight:normal;
	margin:2px 0 10px;
}
.customBreadcrumbs {
	padding: 10px 0px;
}

.customBodyLeft {
	float:left;
	padding-right:60px;
	vertical-align:top;
	width:600px;
}
.customBodyRight {
	float: left;
	vertical-align: top;
	width: 195px;
}
.customBodyImage {
	padding-left: 4px;
}
*/

